

<form class="col-sm-12" action="#" method="post"  >

  <input class="form-control" type="text" name="intitule" placeholder="Intitulé" >
  <input class="form-control" type="text" name="domaine" placeholder="Domaine" >
  <input class="form-control" type="textarea" name="descriptionOffre" placeholder="Description offre" >
  <input class="form-control" type="textarea" name="mission" placeholder="Missions" >
  <input class="form-control" type="textarea" name="profilRecherche" placeholder="Profil recherché" >
  <input class="form-control" type="text" name="typeContrat" placeholder="Type contrat" >
  <input class="form-control" type="text" name="typeOccupation" placeholder="Type occupation" >
  <input class="form-control" type="number" name="dureeSemaine" step="0.01"  >
  <input class="form-control" type="textarea" name="lieu" placeholder="Lieu" >
  <input class="form-control" type="textarea" name="fourchetteSalariale" placeholder="Fourchette salariale" >
  <input class="form-control" type="textarea" name="contrainte" placeholder="Contraintes" >
  <label for="dateDebut">Date Début :</label><input class="form-control" type="date" name="dateDebut"  >
  <label for="dateFin">Date Fin :</label><input class="form-control" type="date" name="dateFin"  >
  <button type="submit" class="btn btn-default">Submit</button>


</form>
